{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
Add Patients
{% endblock contentTitle %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="container">
        <div class="patient-form ">
            <div class="row">
                <div class="form-field col-md-6">
                    <input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name">
                </div>

                <div class="form-field col-md-6">
                    <input type="text" id="phone_num" class="input-text" type="text" name="phone_num"
                        pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Phone no.">
                </div>

                <div class="form-field col-md-6">
                    <input type="text" id="patient_relative_name" class="input-text" type="text"
                        name="patient_relative_name" placeholder="Relative's name">
                </div>

                <div class="form-field col-md-6">
                    <input type="text" id="patient_relative_contact" class="input-text" type="text"
                        name="patient_relative_contact" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                        placeholder="Relative's contact">
                </div>

                <div class="form-field col-md-12">
                    <input type="text" id="patient_relative_contact" class="input-text" type="text" name="address"
                        placeholder="Address">
                </div>

                <div class="form-field col-md-6" style="padding-bottom: 4px;">
                    <input type="text" id="prior_ailments" class="form-control input-text mb-0 p-0 "
                        style="outline:none" type="text" name="prior_ailments"
                        placeholder="Prior ailments if any, eg: Diabetes, Thyroid">
                </div>

                <div class="form-field col-md-4 offset-md-2 mb-4 mx-auto">
                    <select name="bed_num" class="btn btn-bed" id="bed_num">
                        {% for bed in beds %}
                        <option value={{ bed }}>{{ bed }}</option>
                        {% endfor %}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-field col-md-6">
                <input type="date" id="dob" class="input-text" type="date" name="dob">
            </div>
            
                <div class="form-field col-md-6">
                    <select class="input-text"  name="status" id="status">
                        <option class="bg-danger text-white" value="Critical">Critical</option>
                        <option class="bg-warning text-white" value="Recovering">Recovering</option>
                        <option class="bg-success text-white" value="Recovered">Recovered</option>
                        <option class="bg-secondary text-white" value="Deceased">Deceased</option>
                    </select>
                </div>

            <div class="form-field col-md-6">
                <select class="input-text" name="doctor" id="doctor">
                    {% for doctor in doctors %}
                    <option class="" value="{{doctor}}">{{doctor}}</option>
                    {% endfor %}
                </select>
            </div>


        </div>

        {{doctor}}
    </div>
    </div>
    
    </div>
    
    </div>
    </div>
    </div>
    <button class="btn col-lg-4 btn-block mx-auto btn-info mb-4">Add Patient</button>
</form>
{% endblock content %}