{% load static %}
{% comment % } {% include 'main/base.html' %} {% endcomment %}
<!--fix it to show base-->
{% include 'main/base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'styles/chat.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

</head>

<body class="page-content p-5 container-fluid" id="content">

    <div allign="center">
        <h2>Chat</h2>
    </div>


    <div class="container">


        <form id="post-form" method="POST" action="checkview">
            {% csrf_token %}
            <label>Please enter Patient Username to access the specified Chat Room</label>
            <input type="text" name="room_name" id="room_name" width="100px" />
            <label>Enter your Name</label>
            <input type="text" name="username" id="username" width="100px" />
            <input type="submit" value="Enter Room">
        </form>
    </div>
</body>
</html>
{% endblock content %}